<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
     <assemblyIdentity name="StudentLib"  culture="neutral"  publicKeyToken="6cbfab12760b851a"/>
    <codeBase version="0.0.0.0" href="Libs/StudentLib.dll"/>
  	</dependentAssembly>
	  <dependentAssembly>
     <assemblyIdentity name="Common"  culture="neutral"  publicKeyToken="4eec533632d1f4e5"/>
    <codeBase version="0.0.0.0" href="Libs/Common.dll"/>
  	</dependentAssembly>
</assemblyBinding>
</runtime>
</configuration>